@media only screen and (max-width: 1380px) {
}

@media only screen and (max-width: 1220px) {
  body {
    overflow-x: hidden;
  }
}

@media (min-width: 992px) {
  .container {
    width: 880px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (max-width: 1180px) {
  header .btn-default {
    margin: 0 1px !important;
    padding: 9px 9px !important;
    font-size: 10px !important;
  }
  header .sign-buttons {
    text-align: left;
    padding: 0;
  }
  .btn-main {
    padding: 9px 9px !important;
    font-size: 10px !important;
  }
  .navbar-nav .nav-item .nav-link {
    padding: 18px 11px;
    letter-spacing: 0;
    font-size: 10px;
  }
  /* LOGIN */
  #logreg-forms .social-btn {
    display: block;

    width: 100%;

    margin-bottom: 5px;
  }

  /* SLIDER */
  .hero-section .carousel-inner .carousel-caption h2 {
    font-size: 24px;
  }
  .hero-section .carousel-inner .carousel-caption p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 980px) {
  header .btn-default {
    margin: 0 1px !important;
    padding: 9px 9px !important;
    font-size: 10px !important;
  }
  header .sign-buttons {
    text-align: left;
    padding: 0;
  }
  .btn-main {
    padding: 9px 9px !important;
    font-size: 10px !important;
  }
  .navbar-nav .nav-item .nav-link {
    padding: 18px 11px;
    letter-spacing: 0;
    font-size: 10px;
  }

  /* SLIDER */
  .hero-section .carousel-inner .carousel-caption {
    top: 140px;
    width: 48%;
  }
  .hero-section .carousel-inner .carousel-caption h2 {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 22px;
  }
  .hero-section .carousel-inner .carousel-caption p {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .hero-section .carousel-inner .carousel-caption .sign-up-btns {
    display: none;
  }

  /* SECTIONS */
  .gallery {
    padding: 30px 0;
  }
  .videos {
    padding: 30px 0;
  }
  .testimonials {
    padding: 50px 0;
  }

  /* FOOTER */
  .footer-content {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  header {
    position: static;
  }
  .hero-section {
    padding-top: 0;
  }
  header .navbar-default {
    padding: 0;
  }
  header .sign-buttons {
    padding: 0 20px;
  }
  .navbar-nav .nav-item {
    border-bottom: 1px solid #fafafa;
  }
  .navbar-nav .nav-item:last-child {
    border: none;
    padding-bottom: 20px;
  }
  .navbar-dark .navbar-toggler-icon {
    filter: invert(1);
    width: 25px;
    height: 25px;
  }
  header .navbar-brand img {
    width: 60px;
  }
  header .navbar-default .navbar-toggler {
    background: transparent;
    opacity: 1;
    font-size: 14px;
  }

  .sign-up-btns {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: left;
  }

  /* SLIDER */
  .hero-section .carousel-inner .carousel-caption {
    top: 31px;
    width: 80%;
  }
  .hero-section .carousel-inner .carousel-caption h2 {
    font-size: 16px;
    margin-bottom: 7px;
    line-height: 22px;
  }
  .hero-section .carousel-inner .carousel-caption p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .hero-section .carousel-inner .carousel-caption .sign-up-btns {
    display: none;
  }

  /* SECTIONS */
  .content-div {
    padding: 40px 20px;
  }
  .content-text-section {
    padding: 20px 0;
  }
  section.gallery {
    padding: 30px 20px;
  }
  .videos {
    padding: 30px 20px;
  }
  .testimonials {
    padding: 30px 0;
  }
  .title-row .title {
    font-size: 22px;
  }
  .content-div p {
    font-size: 14px;
  }
  p.mini-title {
    font-weight: bold;
    color: orange;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .form-title h3 {
    font-size: 24px;
  }

  /* FOOTER */
  .top-footer .footer-content {
    text-align: center;
    margin-bottom: 50px;
  }

  /*LOGIN*/
  .login-form {
    overflow: scroll;
  }
  .login-overlay {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
