/*Google Fonts*/

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
* {
  outline: none !important;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #424242;
  font-family: "poppins", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  outline: none !important;
  margin: 0;
  padding: 0;
  list-style: none;
}

p + p {
  padding: 10px 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

.clear {
  clear: both;
}

.custom-container {
  max-width: 1290px;
  width: 100%;
}

.padding50 {
  padding: 50px 0;
}

.pb50 {
  padding-bottom: 50px !important;
}

.hidden{
  display:none;
}

/* BTN PRIMARY */
.btn-primary, .btn-primary:hover, .btn-primary:focus {
  color: #FFF;
  background-color: #3552a9 !important;
  border-color: #3552a9 !important;
} 
.btn-success {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

/* Scroll to top
---------------------------------- */

.scrollToTop {
  color: #fff;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: orange;
  z-index: 1005;
  display: none;
}

.scrollToTop i {
  line-height: 40px;
  font-size: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

/******************************************
Common Css Start
******************************************/

section {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -mpz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h4 {
  color: #9f9f9f;
  font-size: 1.7rem;
  font-weight: normal;
}

h2 {
  color: #000;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt5 {
  margin-top: 5px !important;
}
.bg-gray {
  background: #fcfcff;
}

/*  */
.hero-section {padding-top: 70px;}
.hero-section .carousel-inner {
}
.hero-section .carousel-inner .item {
}
.hero-section .carousel-inner .item::before {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#162647),
    to(#16264700)
  );
  background-image: linear-gradient(to right, #000000bf, #16264700);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.hero-section .carousel-inner .carousel-caption {
  background: transparent;
  left: 9%;
  right: auto;
  padding: 0;
  width: 35%;
  bottom: 27%;
  border-radius: 0.5rem;
  text-align: left;
}

.hero-section .carousel-inner .carousel-caption h2 {
  color: #fff;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 28px;
  line-height: 35px;
}
.hero-section .carousel-inner .carousel-caption {
  position: absolute;
  top: 120px;
}
.hero-section .carousel-inner .carousel-caption p {
  color: #fff;
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  margin-bottom: 40px;
}

.circle {
  width: 516px;
  height: 516px;
  background-color: rgba(30, 217, 222, 0.16);
  border-radius: 50%;
  position: absolute;
  top: -150px;
}

.right-circle {
  right: -150px;
}

.inner-container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.btn {
  background-color: #ccc;
  border-radius: 4px;
  margin-right: 0px;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 9px 15px;
  overflow: hidden;
  position: relative;
}

.btn:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.3;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
}

.btn:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover,
.btn.focus,
.btn:focus {
  color: #ffffff;
}

.btn.active,
.btn:active {
  box-shadow: none;
}

.btn i {
  margin-left: 5px;
}

.solid-btn {
  background-color: #1ed9de;
}

.outline-btn {
  border: 1px solid #1ed9de;
  background-color: transparent;
  color: #1ed9de;
}

.outline-btn:hover,
.outline-btn.focus,
.outline-btn:focus {
  background-color: #1ed9de;
}

.yellow-text {
  color: #fa9f10;
}

.gray-text {
  color: #b5b1b1;
}

.font50 {
  font-size: 5rem;
  font-weight: normal;
}

.font25 {
  font-size: 2.5rem;
}

.text-normal {
  text-transform: none;
}

.gray-bg {
  background-color: #f3f3f3;
}

.small-text {
  font-size: 1.5rem;
}

/******************************************
Navbar Css Start
******************************************/

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 1px 20px rgba(20, 20, 20, 0.11);
}

.top-header {
  padding: 12px 0;
}
.office-title {
  text-align: center;
}

.office-title h2 {
  font-weight: bold;
  margin: 6px 0;
  font-family: 'josefin sans';
  color: midnightblue;
}

.office-title p {
  font-size: 16px;
  color: #555;
}

.logo,
.navbar-form {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  width: 80px;
}

.navbar-form {
  margin: 0 0 0 30px;
  width: 40%;
  padding: 0;
}

.navbar-form .form-group {
  width: 100%;
  position: relative;
  border: 1px solid #ed9917;
  border-radius: 5px;
  overflow: hidden;
}

.navbar-form .form-group .form-control {
  width: 100%;
  border-radius: 20px;
  height: 40px;
  box-shadow: none;
  border: none;
  padding-right: 55px;
}

.navbar-form .form-group .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border-radius: 0;
  height: 40px;
  background-color: #ed9917;
}

/*Top right nav Css*/

.top-right-nav {
}

.top-right-nav ul {
}

.top-right-nav ul li {
  display: inline-block;
}

.top-right-nav ul li a {
  color: #383838;
  padding: 10px 10px;
  display: block;
  position: relative;
}

.top-right-nav ul li a:after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #ccc;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -7.5px;
}

.top-right-nav ul li:last-child a:after {
  background-color: transparent;
}

.top-right-nav ul li a i {
  display: inline-block;
  width: 14px;
  margin-right: 3px;
}

.top-right-nav .dropdown-menu {
  margin: 0;
  padding: 0;
}

.top-right-nav .dropdown-menu li {
  display: block;
}

.top-right-nav .dropdown-menu li a {
  padding: 5px 10px;
}



.navbar-default {
  background-color: white !important;
  border: none;
  border-radius: 0;
  margin: 0;
  border-top: 1px solid #fafafa;
}
.navbar-brand img {
  width: 40px;
}

.navbar-nav .nav-item {}

.navbar-nav .nav-item .nav-link {
  color: #222;
  padding: 18px 26px;
  letter-spacing: 0.5px;
  font-family: 'poppins';
  font-weight: bold;
  font-size: 12px;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #000000 !important;
  background-color: #fff;
}

.carousel-control.left {
  background: none;
}

.carousel-control {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.carousel-indicators {
  bottom: 36px;
}

.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  text-indent: -999px;
  cursor: pointer;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
}

.carousel-indicators .active {
  background-color: #fff;
  border-color: #fff;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  width: 100%;
}

/************************
Calendar section css
*************************/

.calender {
  padding: 20px 0;
}

.today_event {
  background: #fa9b05;
  width: 262px;
  margin: auto;
  height: 262px;
  border-radius: 50%;
  padding: 0 40px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.today_event h3 {
  color: #653f02;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Devanagari-New-Normal";
  line-height: 29px;
  margin-bottom: 10px;
  border-bottom: 1px solid #653f02;
  padding: 10px 0;
}

.today_event p {
  color: #ffe7c1;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 25px;
  font-family: "Devanagari-New-Normal";
  padding: 0;
}

p.time {
  margin: 0;
  /* padding: 0; */
  font-size: 14px;
}

p.date {
  margin: 0;
  /* padding: 0; */
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

/************************
Horoscope section css
*************************/

.horoscope-header {
  background: #065377;
  padding: 12px;
}

.horoscope-header h3 {
  color: #fff;
  font-size: 18px;
  /* text-align: center; */
  font-family: "Devanagari-New-Normal";
}

.horoscope-header h3 span {
  color: #fa9b05;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}

.horoscope-body {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

.horoscope-box {
  display: table;
  width: 100%;
  border: 1px solid #acacac;
  margin-bottom: 10px;
}

.horoscope-details {
  display: table-cell;
  vertical-align: middle;
  border-right: 2px solid #4f4e4e;
  padding: 0 5px 0 10px;
  font-family: "Devanagari-New-Normal";
}

.horoscope-image {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  background-color: #f7f7f7;
}

.horoscope-details p {
  font-size: 15px;
  font-weight: 500;
}

.horoscope-details p span {
  color: #fa9b05;
  font-weight: bold;
  margin-right: 10px;
}

.btn.btn-link {
  background: transparent;
  color: #fa9b05;
  font-weight: 500;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 0;
}

/*Calendar Css*/

.monthly-header {
  background: #fa9b05;
  text-align: left;
}

.monthly-header-title {
  margin-left: 24px;
}

.monthly-header-title-date,
.monthly-header-title-date:hover,
.monthly-header-title a:link,
.monthly-header-title a:visited {
  background-color: transparent !important;
  border: 1px solid #d08104 !important;
}

.monthly-day-title-wrap {
  padding: 10px 0;
  background-color: #065377;
  color: #fff;
}

.monthly-day-wrap {
  border: 1px solid #ccc;
}

.ads-carousel {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.ads-carousel .owl-item img {
  height: 60px;
}

/* owl controls */

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-nav {
  position: absolute;
  left: 0;
  top: 28%;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  display: block !important;
}
.owl-carousel:hover .owl-nav{
  opacity: 1;
}
.owl-carousel .owl-prev, .owl-carousel .owl-next{
  position: absolute;
}
.owl-carousel .owl-prev{
left: -15px;
}
.owl-carousel .owl-next{
  right: -15px;
}

.owl-carousel .owl-nav span {
  width: 40px;
  height: 40px;
  background: transparent !important;
  border-radius: 50%;
  color: orange !important;
  font-size: 33px !important;
  display: block;
  line-height: 26px;
  border: 3px solid orange;
}





.title_wrapper {
  padding: 18px 0 28px 0;
}
.title_wrapper h3{
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 22px;
}

h3.title {
  color: #383838;
  font-size: 22px;
  font-weight: bold;
}

.list-event {
  margin-bottom: 20px;
}
.list-event .item {
  background: #fff;
  border: 1px solid #f7f7f7;
  margin-bottom: 30px;
}

.events {
  background: #fdfdfd;
  padding: 50px 0;
}

.list-event .item h5 {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Josefin Sans';
  color: #000;
  margin-bottom: 10px;
}
.list-event .item .event-image {
 max-height: 170px;
 overflow: hidden;
}
.list-event .item .event-content {
  padding: 25px 20px;
}

.list-event .item p {
  color: #888;
}
.list-event .item .event-content .btn {
  padding: 10px 20px;
  font-size: 14px;
}
/********** 
events 
***********/

section.events-of-months {
  padding: 70px 0;
}

section.events-of-months {
  padding: 50px 0;
}

.about-event h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

span.text-default {
  color: #000000;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background: crimson;
  border-radius: 0;
  padding: 12px 30px;
  font-weight: bold;
  font-size: 16px;
}

.events-box {
  border: 1px solid #959595;
  padding: 15px;
}

.event-lists {
  box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2);
  padding: 15px;
}

h3.events-list-title {
  background: #045378;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

.event-lists p {
  color: #045378;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

h3.events-list-main-title {
  font-size: 14px;
  background: #fa9b05;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 6px;
}

.event-list ul {
}

.event-list ul li {
  margin-bottom: 6px;
  color: #2c2c2c;
  font-weight: 600;
}

.event-list ul li a {
  font-weight: 600;
  color: #2c2c2c;
  display: block;
  padding: 7px 10px;
  border: 1px solid #d5d5d5;
}

.event-list ul li:hover a {
  background: #fa9b05;
  color: #fff;
  border-color: #fa9b05;
}

.event-list ul li:hover a span {
  color: #fff;
}

.event-list span {
  float: right;
  color: #afadad;
  font-weight: normal;
}

p.date-of-events {
  color: #7a7a7a;
}

.btn-sm {
  padding: 8px 20px !important;
}

.short-intro {
  color: #045378;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: bold !important;
}

section.about-us {
  padding: 50px 0;
}

.about-us h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.about-us p {
  color: #222;
}

.event4carousel .owl-item {
  height: 170px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
}

.event4carousel .owl-item .image-box {
  position: relative;
  height: 150px;
  overflow: hidden;
}

.event4carousel .owl-item img {
  width: 100%;
}

/*Footer start*/

.top-footer {
  background: #24292f;
  padding: 60px 0;
}
.top-footer .footer-content {
  text-align: left;
}
.top-footer .footer-content h4 {
  color: #fff;
  font-size: 16px;
  font-family: 'Josefin Sans';
  margin-bottom: 1rem;
  font-weight: bold;
}
.top-footer .footer-content p {
  color: #ddd;
  font-size: 13px;
  line-height: 23px;
}
.top-footer .footer-content .footer-content-list {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}
.top-footer .footer-content .footer-content-list li {
  margin-bottom: 10px;
  color: #ddd;
  list-style: none;
  font-size: 13px;
}
.top-footer .footer-content .footer-content-list li a {
  color: #ddd;
}
.social-link a {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  color: #fff;
  margin-right: 9px;
}

.bottom-footer {
  background: #181b1f;
  padding: 20px 0;
}
.bottom-footer .copyright p {
  margin: 0;
  font-size: 13px;
  color: #ddd;
}
/***************************
Gold silver and Exchange css
****************************/

.form-group {
  margin-bottom: 8px;
}

.gold-silver-price .form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #959595;
}

.gold-silver-price .btn {
  display: block;
  background: #3c3c3c;
  color: #fa9f10;
  width: 100%;
  padding: 12px 24px;
}

.gold-silver-price .table {
  border: 1px solid #b7b7b7;
}

.exchange thead td {
  background: #fdd79b;
}

.exchange .table {
  border: 1px solid #b7b7b7;
  border-top: none;
}
.gold-silver-price h3 {
  color: #04587f;
  margin-bottom: 18px;
}
.exchange h3 {
  margin-bottom: 18px;
}
.exchange .btn-link {
  color: #535353;
  font-weight: bold;
  padding: 10px;
}
section.market {
  padding-bottom: 50px;
}
section.movies {
  padding-bottom: 50px;
}

.image-box-body .title a {
  color: #353535;
  font-size: 21px;
  font-weight: bold;
  display: block;
}
.image-box-body .title a:hover,
.image-box-body .title a:focus,
.image-box-body .title a:active {
  color: #fa9f10;
}
.image-box-body {
  padding: 20px 0;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* Inner page css start */
.pg-opt {
  border-bottom: 1px solid #e0eded;
  border-top: 1px solid #e0eded;
  background: #fcfcfc;
  color: #333;
}
.pg-opt h2 {
  margin: 0;
  padding: 16px 0;
  font-size: 19px;
  font-weight: bold;
  line-height: 100%;
  text-transform: capitalize;
  font-family: arial;
  color: #5a5a5a;
}
.pg-opt .breadcrumb {
  float: right;
  margin: 0;
  padding: 16px 15px 16px 0;
  padding-right: -15px;
  background: transparent;
  border-radius: 0;
}
.pg-opt .breadcrumb a {
  color: #333;
}
.pg-opt .breadcrumb a:hover {
  color: #ed9917;
}
.pg-opt .breadcrumb li.active {
  color: #333;
}
.about-us img {
  margin: auto;
}

.about-us-inner .about-content {
  padding: 0 15px 0 0;
}
.about-us-inner {
  padding: 75px 0;
}
.about-us-inner h3 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}

/* BLOGS */
.blogs {
  padding: 50px 0;
}
.blogs-detail {
  border: 1px solid #eee;
  margin-bottom: 30px;
}
.image-box {
  margin: 20px 15px;
}
.blogs-detail .image-wrapper {
  margin-bottom: 0;
}
.blog-date h3 {
  font-size: 23px;
}
p.blog-date {
  margin-top: 5px;
  color: #9e9e9e;
}
span.by {
  font-style: italic;
}

/* pagination */
.pagination > li {
  display: inline-block !important;
}

.pagination {
  width: 100%;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li > a,
.pagination > li > span {
  padding: 7px 16px;
  color: #525c65;
  text-decoration: none;
  background-color: #f5f5f5;
  border: none;
  font-size: 16px;
  /* font-weight: bold; */
  margin: 0px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #fa9f10;
  border-color: #fa9f10;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #ffffff;
  background-color: #fa9f10;
  border-color: #fa9f10;
}

.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #ffffff;
  background-color: #fa9f10;
  border-color: #fa9f10;
}

.pagination > li > span:hover {
  color: #ffffff;
  background-color: #fa9f10;
  border-color: #fa9f10;
}

/* Contact Us */
section.contact-us {
  padding: 50px 0;
}
.contact-us .form-control {
  box-shadow: none;
  min-height: 43px;
}
.well {
  background-color: #fcfcfc;
  border: 1px solid #e0eded;
  box-shadow: none;
}
.well h6 {
  font-size: 16px;
  line-height: 28px;
  /* border-bottom: 1px solid #ccc; */
  margin-bottom: 8px;
}
.well h6 i {
  margin-right: 10px;
}
.well p i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 9px;
}




/* SIDEBAR EVENTS */
.sidebar-bg .nav-tabs {
  background: #3e3e3e;
  border: none;
  margin-bottom: 10px;
}

.sidebar-bg .nav-tabs .nav-item .nav-link {
  border-radius: 0;
  color: #fff;
  border: none;
  padding: 16px 30px;
  font-weight: bold;
}

.sidebar-bg .nav-tabs .active .nav-link,  .sidebar-bg .nav-tabs .nav-link:hover{
 
color: #fff;
 
background: crimson;
}

/* .sidebar-bg .nav-tabs .active, .sidebar-bg .nav-tabs .nav-item:hover {
  background: crimson;
  border: none;
  color: #fff;
  font-weight: bold;
  border-bottom: none;
} */
/* .sidebar-bg .nav-tabs .nav-link:focus, .sidebar-bg .nav-tabs .nav-link:hover {
  border-color: #fb272e #fb272e #fb272e;
  border: none;
} */
 .tab-content .posts .post-block-list .thumb img {
  max-width: 59px;
  min-width: 60px;
  border-radius: 3px;
}
 .tab-pane {
  padding: 0;
  margin: 0;
}




.tab-content .posts {}

.tab-content .posts li {
  border-bottom: 1px solid #fafafa;
  padding: 10px 0;
}

.tab-content .posts .post-block-list {
  display: table;
}

.tab-content .posts .post-block-list .thumb {
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.tab-content .posts .post-block-list .post-content {
  display: table-cell;
  padding: 0 15px;
  vertical-align: middle;
}
.tab-content .posts .post-block-list .post-content h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  font-family: 'josefin sans';
}

.tab-content .posts .post-block-list .post-content a {
  color: #222;
}

.tab-content .posts .post-block-list .post-content p.time {
  font-size: 12px;
  color: #888;
  margin: 0 0 5px;
}

.tab-content .posts .post-block-list .post-content p {
  font-size: 14px;
  color: #888;
}
.sidebar-bg {
  background: #fdfdfd;
  padding: 20px;
  border: 1px solid #fafafa;
}



/* MID BANNER */
.mid-banner{
    background: crimson;
    padding: 70px 0;
}
.mid-banner .mid-banner-content{
    text-align: center;
}
.mid-banner .mid-banner-content h2{
    font-weight: bold;
    color: #fff;
    font-family: 'Josefin Sans';
    font-size: 25px;
    margin-bottom: 20px;
}
.mid-banner .mid-banner-content p{
    color: #fff;
    font-size: 18px;
}


/* PROJECTS */

/* BTN GROUPS */
.sign-up-btns {margin-top: 15px;}

.sign-up-btns .btn-groups {}

.sign-up-btns .btn-groups li {
    display: inline;
}

.btn-main {
  border-radius: 0;
  background: orange;
  font-weight: bold;
  margin: 0;
  padding: 9px 22px;
  border-radius: 4px;
  font-size: 12px;
}
a.btn.btn-default {
  background: #fff;
  color: #000;
  border: 1px solid #eee;
  margin: 0 2px;
  border-radius: 4px;
  padding: 9px 20px;
  font-size: 12px;
}

.mt-15{
  margin-top: 15px;
}

/* CAROUSEL */
div#carousel-example-generic {
  max-height: 560px;
  overflow: hidden;
}

.carousel-caption .btn{
  font-size: 14px !important;
  padding: 10px 30px !important;
}

.content-text-section{
  padding: 80px 0;
}
.content-div {
  padding: 50px;
}
.title-row .title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.content-div p {
  font-size: 15px;
}
p.mini-title {
  font-weight: bold;
  color: orange;
  font-size: 16px;
  margin-bottom: 10px;
}

/* GALLERY */
section.gallery {
  padding: 80px 0;
}

section.gallery .gallery-thumb {
  margin-bottom: 30px;
}
.icon-img img {
  width: 60px;
  margin: auto;
}


/* VIDEOS */
.videos {
  padding: 80px 0;
}

.videos .youtube-frame {
  margin-bottom: 4px;
}

/* TRAINERS */
.trainers{
  padding: 80px 0;
}
.team-content {
  box-shadow: 0 1px 7px #dedede;
  margin-bottom: 30px;
}

.team-content .team_content_text {
  padding: 15px;
  text-align: center;
}

.team-content .team_content_text h3 {
  font-weight: bold;
  font-size: 18px;
}

.team-content .team_content_text p {
  color: #888;
}

/* OWL */
.owl-nav{
  /* display: none; */
}

/* TESTIMONIAL */
/* ===================== */
/* TESTIMONIALS */
/* ===================== */

.testimonials {
  background: url(../img/testimonial.jpg) no-repeat;
  padding: 150px 0;
  /* background-attachment: fixed; */
  background-size: cover;
}
.testimonial-box {
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 4px;
  border: 4px solid #f3f3f3;
}
.testimonial-title {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}



.testimonial-box #testimonials {
  margin-top: 20px;
}

.testimonial-box #testimonials p {
  color: #555;
  font-size: 14px;
  margin-bottom: 22px;
}

.testimonial-box #testimonials h4 {
  color: #000;
  /* text-transform: uppercase; */
  /* font-style: italic; */
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
}
.testimonial-thumbnail{
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 15px;
}
.testimonial-box img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
}
.star-ratings {
  margin-bottom: 10px;
}

.star-ratings i {
  color: orange;
  font-size: 18px;
}

/* CONTACT */
/* CONTACT */
/*  */
.contact-form {
  padding: 80px 0;
  background: #fdfdfd;
}

.contact-form .form-control {
  width: 100%;
  min-width: 100%;
  /* border-top: none; */
  /* border-left: none; */
  /* border-right: none; */
  border-radius: 4px;
  min-height: 55px;
  border-color: #fafafa;
  font-size: 14px;
}

.contact-form .form-group {
  width: 100% !important;
  min-width: 100%;
}

.form-title h3 {
  font-weight: bold;
  font-size: 32px;
  font-family: 'poppins', sans-serif;
}

.contact-form .btn {
  background: #f4623a;
  border-radius: 0;
  padding: 12px 40px;
  color: #fff;
  font-weight: bold;
  margin-top: 34px;
  border-radius: 30px;
}
/* INDEX CONTACT FORM */
.contact-form-contents {font-family: 'poppins';}
.form-title .divider {
  margin: 0;
}

.contact-form-contents {
  margin-top: 50px;
}
.index-contact {
  background: #fff;
  padding: 30px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05) !important;
}
.contact-details {
  background: #fff;
  padding: 30px;
  font-family: 'poppins', sans-serif;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05) !important;
  margin-bottom: 20px;
}

.contact-details h3 {
  font-size: 22px;
  font-weight: bold;
}

.contact-details li {
  margin-bottom: 7px;
}

.contact-details li i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #827690;
  border-radius: 8px;
  margin-right: 5px;
}


/* LOGIN FORM */
/* sign in FORM */
#logreg-forms{
  width: 100%;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 5px;
}
#logreg-forms form {
  /* width: 100%; */
  /* max-width: 100%; */
  padding: 15px;
  margin: auto;
  border-radius: 5px;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login{
  width: 100%;
  margin:0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn{
  font-weight: 400;
  color:white;
  font-size: 13px;
  padding: 14px 18px !important;
}

#logreg-forms a{
  display: block;
  padding-top:10px;
  color: #003c7b;
  font-size: 13px;
  margin: 10px 0;
  font-weight: 500;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{background-color:#3C589C;padding: 12px 0;}

#logreg-forms .google-btn{background-color: #DF4B3B;}

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{width: 100%;}

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width: 100% !important;
  margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
  #logreg-forms{
      width: 100%;
  }
  
  #logreg-forms  .social-login{
      width: 100%;
      margin:0 auto;
      margin-bottom: 10px;
  }
  #logreg-forms  .social-btn{
      font-size: 17px;
      font-weight: 100;
      color:white;
      width: 100% !important;
      height: 56px;
      position: relative;
  }
  #logreg-forms .social-btn:nth-child(1){
      margin-bottom: 5px;
      position: relative;
      display: block;
      width: 100%;
  }
  #logreg-forms .social-btn span{
      /* display: none; */
      font-weight: 400;
      font-size: 14px;
  }
  #logreg-forms  .facebook-btn:after{
      content:'Facebook';
  }

  #logreg-forms  .google-btn:after{
      content:'Google+';
  }
  
}
.login-form{
  background: url('../img/login-bg.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  overflow: hidden;
}
#logreg-forms h1 {
  font-weight: bold !important;
  font-size: 24px;
}
.login-overlay {
  background: #0000005e;
  padding: 100px 0;
}
.login-form .btn-block {
  padding: 14px 0;
}

/* This is Master Branch Test*/
